@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>AniMint is an Online Anime Review site that allows anyone to post their own reviews.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor commodo convallis. Quisque gravida pharetra enim, nec rhoncus ligula. Duis tempor efficitur dui id cursus. Suspendisse sit amet ante tortor. Suspendisse lobortis tristique leo sed pellentesque. Integer varius, est id porta consequat, orci nibh tincidunt eros, quis consequat leo sem at nunc. Cras placerat quis risus tempor mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut feugiat, leo id laoreet vestibulum, dolor tellus ultrices lacus, vestibulum laoreet massa sapien non odio. Cras quis augue lorem. Praesent et porta tortor.
</p>
<p>Sed pretium augue non quam sollicitudin dapibus. Sed eleifend libero libero. Nam posuere mollis sapien sit amet ullamcorper. Suspendisse at diam hendrerit, convallis odio mollis, accumsan felis. Integer condimentum orci commodo est accumsan laoreet. Curabitur non ex quis tortor dignissim volutpat. Sed in mauris lacinia, lacinia augue in, tempor enim. In feugiat nibh eros, sit amet iaculis turpis elementum nec. Vestibulum placerat nibh at facilisis laoreet. Ut posuere semper erat, ac posuere urna convallis at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec dictum nibh lacus, et pretium tortor tincidunt sit amet. Aenean vestibulum augue a dignissim porttitor. Vivamus arcu augue, dictum eu condimentum et, efficitur at arcu. Curabitur quam tortor, elementum non luctus ac, sollicitudin sit amet nulla.
</p>
<p>
Nunc auctor pretium tellus, quis scelerisque nulla accumsan ac. Integer non urna libero. Nunc accumsan dui nibh, quis varius felis molestie a. Morbi iaculis risus vel erat aliquam, et volutpat augue imperdiet. Maecenas consequat laoreet vestibulum. Suspendisse vel dapibus diam. Proin libero mi, ornare ut posuere in, fermentum ut ipsum. Quisque cursus, mi ut bibendum faucibus, mi odio venenatis ipsum, lobortis ultricies risus purus sit amet leo. Fusce lobortis, erat at aliquam maximus, nulla nisl suscipit purus, commodo convallis elit massa nec purus. Maecenas in tortor neque. Nunc id facilisis orci, et fringilla dui. Vivamus sed lorem id leo aliquam ultricies vitae non odio. Donec eget justo orci. Suspendisse maximus interdum purus, eget luctus sem. Suspendisse vehicula mi id euismod tempus.
</p>
