@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="https://placeholdit.co//i/600x250" alt="place holder image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="https://placeholdit.co//i/600x250" alt="place holder image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="https://placeholdit.co//i/600x250" alt="place holder image" style="width:100%;">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="contentmargin">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12"><h3>Rate</h3><div class="well well-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie venenatis augue, vel vulputate arcu sagittis nec. Ut dignissim porta odio quis maximus. Phasellus est lorem, ultrices ac rutrum nec, fermentum vel ante. </div></div>

        <div class="col-lg-4 col-md-4 col-sm-12"><h3>Review</h3><div class="well well-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie venenatis augue, vel vulputate arcu sagittis nec. Ut dignissim porta odio quis maximus. Phasellus est lorem, ultrices ac rutrum nec, fermentum vel ante. </div></div>

        <div class="col-lg-4 col-md-4 col-sm-12"><h3>Rave</h3><div class="well well-lg"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie venenatis augue, vel vulputate arcu sagittis nec. Ut dignissim porta odio quis maximus. Phasellus est lorem, ultrices ac rutrum nec, fermentum vel ante. </div></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales enim et metus auctor, ac accumsan sapien interdum. Donec pretium fringilla urna, ac eleifend nulla commodo id. In aliquet tortor vitae vestibulum ullamcorper. Proin at tempor lectus. Cras ut sodales tortor. Nam pulvinar laoreet massa mattis iaculis. Aenean ante tellus, porta eu enim in, sagittis volutpat neque. Praesent vel nulla erat. Proin pharetra nunc ac dui interdum porta. Nullam a quam quis ipsum euismod accumsan.
        </p>
        <p>
        Nunc molestie lorem id nisl ornare lacinia. Vivamus nec nisi posuere, mattis metus in, gravida sapien. Nunc lacus neque, accumsan eu luctus in, maximus vestibulum velit. Suspendisse lectus tellus, molestie sit amet tellus et, tempus ultrices libero. Aenean eget nibh porttitor, ultricies felis ullamcorper, eleifend lectus. Sed sed sem pretium, vestibulum nisi ac, mattis nibh. Aliquam quis porttitor orci.
        </p>
        <p>
        Suspendisse convallis in quam vel varius. Suspendisse feugiat, justo eu bibendum commodo, ligula lorem luctus justo, ac pharetra arcu lacus quis tellus. Donec facilisis dictum nisi a lacinia. Nunc vitae arcu quis sapien aliquet mattis nec at risus. Proin varius turpis consectetur est rhoncus finibus dapibus nec diam. Aliquam ac porttitor lectus. Proin sit amet quam facilisis, consectetur ipsum eget, aliquet purus.
        </p>
        Fusce dui est, interdum at diam non, vulputate ultrices mauris. Pellentesque massa arcu, pretium in odio vel, dignissim varius mi. Aenean ut viverra nulla, eget viverra magna. Nullam luctus, metus sed condimentum pulvinar, elit elit vestibulum turpis, at pharetra mauris ex vel odio. Ut placerat pretium ante quis pretium. Curabitur bibendum nibh ut sollicitudin ornare. Vestibulum ultrices risus sed odio interdum consectetur.
        <p>
        Curabitur suscipit vehicula mauris id ornare. Donec felis risus, euismod sit amet pretium ac, faucibus ut libero. Aenean tincidunt mi non leo sagittis gravida. Praesent finibus condimentum quam, at auctor dui tincidunt at. Curabitur tempus maximus semper. Donec in consequat ligula. Quisque magna urna, aliquet nec diam et, dictum egestas libero. Sed nec ligula ante. Sed commodo finibus libero, id suscipit lorem iaculis consectetur. Donec iaculis luctus dui, id ultricies odio. Curabitur ac ipsum sed ante mollis maximus. Aliquam ex augue, posuere in aliquet ac, fringilla accumsan orci. Vestibulum condimentum faucibus gravida. Fusce eu lectus ac tortor vestibulum pulvinar. Maecenas vestibulum, quam at faucibus fermentum, nulla dolor blandit ipsum, sit amet rhoncus tellus justo sed risus. Aenean ex ex, scelerisque varius tellus at, dapibus ultrices mi.
        </p>
     </div>
</div>
<div class="parallax"></div>
<div class="row">
    <div class="col-md-12">
        <p>
            <ul>
                <li>Admin Role Login=admin@efshell.com, Password=password</li>
                <li>User Role Login=user@efshell.com, Password=password</li>
            </ul>
        </p>
    </div>
</div>